@import url('https://fonts.gogleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


.box{
	width: 900px;
	float: right;
	border: 1px black;
}
	.box ul li{
		width: 120px;
		float: left;
		margin: 10px auto;
		text-align: center;
	
}

.box ul li a
{ text-decoration:none;
color:black;
 }


.box ul li:hover{ background-color:; }
.box ul li a:hover{ color:chocolate; }


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

section{
	font-family: 'Poppins', sans-serif;
}


.banner{
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#img{
	 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/ContactPh1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}