.box{
	width: 900px;
	float: right;
	border: 1px black;
}
	

	.box ul li{
		width: 120px;
		float: left;
		margin: 10px auto;
		text-align: center;
	
}

.box ul li a{ 
	text-decoration:none;
	color: black;
 }


.box ul li a:hover{ color:chocolate; }
